.TableData {
  display: grid;
  grid-template-columns: 1fr 3fr 1.2fr repeat(4, 0.8fr);
  grid-column-gap: 0rem;
}

.TableData > div {
  background-color: #bdbdbd;
  min-width: 10.5rem;
}

.TableData__head--data {
  text-align: center;
}

.TableData__head--produto {
  text-align: center;
}

.horizontalRule {
  margin-top: 0;
}

.dataTable {
  border-style: solid;
  border-width: 0.3rem 0rem 0rem 0rem;
  border-color: #bdc3c7;
}

.tempo {
  font-size: 1.5rem;
  padding-top: 0.3rem;
}
