.header{
    padding: 10px;
    background-color: #864000;   
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.header__title{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title--main{
    color: #ffefcf;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #0000004d;
}

.header__title--sub{
    color: #ffefcf;
    font-size: 1.4rem;
}

.header__emissao{
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 0rem;
    line-height: 1rem;
    background-color: #ffefcf;
    color: #171a1b;
    border-color: #2d3436;
    font-family: 'Open Sans', sans-serif;
    border-radius: 1rem;
   
}